USE [master]
GO
/****** Object:  Database [WebApplicationDataBase]    Script Date: 12.05.2022 3:27:00 ******/
CREATE DATABASE [WebApplicationDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebApplicationDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebApplicationDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebApplicationDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebApplicationDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApplicationDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApplicationDataBase]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12.05.2022 3:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UsersID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UsersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  StoredProcedure [dbo].[InsertUsers]    Script Date: 12.05.2022 3:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUsers]
@email NVARCHAR(50),
@password NVARCHAR(50),
@surname NVARCHAR(50),
@name NVARCHAR(50),
@patronymic NVARCHAR(50) = NULL,
@photo VARBINARY(MAX) = NULL
AS
BEGIN
	IF @patronymic IS NULL
		IF @photo IS NULL
			INSERT INTO Users(Surname, Name, Email, Password) 
			VALUES(@surname, @name, @email, @password)
		ELSE
			INSERT INTO Users(Surname, Name, Email, Password, Photo)
			VALUES(@surname, @name, @email, @password, @photo)
	ELSE
		IF @photo IS NULL
			INSERT INTO Users(Surname, Name, Patronymic, Email, Password)
			VALUES(@surname, @name, @patronymic, @email, @password)
		ELSE
			INSERT INTO Users(Surname, Name, Patronymic, Email, Password, Photo)
			VALUES(@surname, @name, @patronymic, @email, @password, @photo)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUsersPassword]    Script Date: 12.05.2022 3:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUsersPassword]
@email NVARCHAR(50), @newPassword NVARCHAR(50)
AS
BEGIN
	UPDATE [dbo].[Users] SET Password = @newPassword
	WHERE Email = @email
END
GO
USE [master]
GO
